In [10]:
# import the csv from the source folder 
import pandas as pd 

data = pd.read_csv('MASTER_DETAIL/master_record.csv')
data.tail()

,Unnamed: 0,RG_NUM,RG_CANDNAME,RG_SEX,STATE_NAME,RG_AGGREGATE,CO_NAME,PUTMESCORE,AdmissionStatus,State_Name1,Instname,LGA_Name,Contact
131481,1068,202210340434GA,Said Faisal,M,KADUNA,121,Islamic/Sharia Law,NaN,Not Admitted,KADUNA,"AHMADU BELLO UNIVERSITY, ZARIA, KADUNA STATE",ZARIA,9160923045
131482,1069,202210147356GA,Musa Abduljalal,M,KADUNA,114,Computer Science,NaN,Not Admitted,KADUNA,"AHMADU BELLO UNIVERSITY, ZARIA, KADUNA STATE",ZARIA,7044680497
131483,1070,202210215477DA,Musa Bint Halima,F,KADUNA,113,Nursing/Nursing Science,NaN,Not Admitted,KADUNA,"AHMADU BELLO UNIVERSITY, ZARIA, KADUNA STATE",ZARIA,9153786267
131484,1071,202210943753JF,Umar Musa Ibrahim,M,KADUNA,112,Political Science,NaN,Not Admitted,KADUNA,"AHMADU BELLO UNIVERSITY, ZARIA, KADUNA STATE",BIRNIN-GWARI,7080777984
131485,1072,202210163166FA,Yakubu Emmanuel,M,KADUNA,110,Biological Science(S),NaN,Not Admitted,KADUNA,"AHMADU BELLO UNIVERSITY, ZARIA, KADUNA STATE",LERE,9027801032

In [11]:
data.columns

Index(['Unnamed: 0', 'RG_NUM', 'RG_CANDNAME', 'RG_SEX', 'STATE_NAME',
       'RG_AGGREGATE', 'CO_NAME', 'PUTMESCORE', 'AdmissionStatus',
       'State_Name1', 'Instname', 'LGA_Name', 'Contact'],
      dtype='object')

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131486 entries, 0 to 131485
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       131486 non-null  int64
 1   RG_NUM           131486 non-null  object
 2   RG_CANDNAME      131486 non-null  object
 3   RG_SEX           131486 non-null  object
 4   STATE_NAME       131486 non-null  object
 5   RG_AGGREGATE     131486 non-null  int64
 6   CO_NAME          131486 non-null  object
 7   PUTMESCORE       0 non-null       float64
 8   AdmissionStatus  131486 non-null  object
 9   State_Name1      131486 non-null  object
 10  Instname         131486 non-null  object
 11  LGA_Name         131486 non-null  object
 12  Contact          131486 non-null  int64
dtypes: float64(1), int64(3), object(9)
memory usage: 13.0+ MB

In [20]:
data.drop(columns='Unnamed: 0', axis=1, inplace=True)

In [21]:
data.head()

,RG_NUM,RG_CANDNAME,RG_SEX,STATE_NAME,RG_AGGREGATE,CO_NAME,PUTMESCORE,AdmissionStatus,State_Name1,Instname,LGA_Name,Contact
0,202210036624GA,Ekele Titi Mercy,F,BENUE,170,Education & English Language,NaN,Not Admitted,BENUE,"ADEKUNLE AJASIN UNIVERSITY, AKUNGBA-AKOKO, OND...",OGBADIBO,9130797457
1,202210089090CF,Ayodele Victor Tayo,M,ONDO,170,Mass Communication,NaN,Not Admitted,ONDO,"ADEKUNLE AJASIN UNIVERSITY, AKUNGBA-AKOKO, OND...",AKOKO-SOUTH,8124996871
2,202210099413JA,Alade Marvellous Oluwadunsin,M,ONDO,170,Computer Science,NaN,Not Admitted,ONDO,"ADEKUNLE AJASIN UNIVERSITY, AKUNGBA-AKOKO, OND...",AKOKO-NORTH,7034611348
3,202210110738IF,Isaiah Praise Thomas,M,DELTA,170,Chemistry,NaN,Not Admitted,DELTA,"ADEKUNLE AJASIN UNIVERSITY, AKUNGBA-AKOKO, OND...",ISOKO-SOUTH,7045108114
4,202210142204HF,Jamiu Olasunkanmi Afeez,M,OYO,170,Performing Arts,NaN,Not Admitted,OYO,"ADEKUNLE AJASIN UNIVERSITY, AKUNGBA-AKOKO, OND...",ORELOPE,8080427834

In [29]:
sort_data = data.sort_values(by=data.columns[3] , axis=0, ignore_index=False)

In [34]:
sort_data[sort_data['STATE_NAME'] == 'GHANA']

,RG_NUM,RG_CANDNAME,RG_SEX,STATE_NAME,RG_AGGREGATE,CO_NAME,PUTMESCORE,AdmissionStatus,State_Name1,Instname,LGA_Name,Contact
65419,202211284032FF,Baidoo Abotar Victory,F,GHANA,170,MILITARY SCIENCE,NaN,Not Admitted,GHANA,"NIGERIAN DEFENCE ACADEMY, KADUNA, KADUNA STATE",FOREIGN,9054051595

In [35]:
sort_data.head()

,RG_NUM,RG_CANDNAME,RG_SEX,STATE_NAME,RG_AGGREGATE,CO_NAME,PUTMESCORE,AdmissionStatus,State_Name1,Instname,LGA_Name,Contact
3313,202211463753FF,Onwukwe Wisdom Williams,M,ABIA,155,Aerospace Engineering,NaN,Not Admitted,ABIA,"AIR FORCE INSTITUTE OF TECHNOLOGY (DEGREE), KA...",ISIALA-NGWA-NORTH,8144221062
106233,202211086823JF,Kalu Favour Amarachi,F,ABIA,148,Medicine & Surgery,NaN,Not Admitted,ABIA,"UNIVERSITY OF NIGERIA NSUKKA, ENUGU STATE",AROCHUKWU,9136251621
42139,202211703809AF,Michael Obi Juliet,F,ABIA,159,Business Administration,NaN,Not Admitted,ABIA,"UNIVERSITY OF ABUJA, ABUJA, FCT",NNEOCHI,8122169093
106224,202210467605EA,Maduako Chinaecherem Happiness,F,ABIA,148,Nursing/Nursing Science,NaN,Not Admitted,ABIA,"UNIVERSITY OF NIGERIA NSUKKA, ENUGU STATE",UMUAHIA-SOUTH,9016840599
106215,202211755530IF,Azubugwu Amarachi,F,ABIA,149,Nursing/Nursing Science,NaN,Not Admitted,ABIA,"UNIVERSITY OF NIGERIA NSUKKA, ENUGU STATE",ISIALA-NGWA-NORTH,7047453982

In [45]:
# exporting data to csv file....
sort_data.to_csv('sort_master_record.csv', index=False)

In [43]:
sort_data.columns

Index(['RG_NUM', 'RG_CANDNAME', 'RG_SEX', 'STATE_NAME', 'RG_AGGREGATE',
       'CO_NAME', 'PUTMESCORE', 'AdmissionStatus', 'State_Name1', 'Instname',
       'LGA_Name', 'Contact'],
      dtype='object')

In [52]:
states = list(sort_data['STATE_NAME'].unique())
states

for state in states:
    sort_data[sort_data['STATE_NAME'] == state]